<div *ngIf="accounts$ | async as accounts">
  <div *ngIf="sumAccountBalanceAmounts(accounts) as sum">
    <h1
      [ngClass]="{'red': sum < 0}"
      data-testid="sum"
    >
      {{ sum | currency : 'GBP' }}
    </h1>
  </div>
  <div class="accounts mt-4">
    <div
      class="card"
      *ngFor="let account of accounts"
    >
      <div class="card-body">
        <h5
          class="card-title"
          [ngClass]="{'red': account.balanceAmount < 0}"
        >
          {{ account.balanceAmount | currency : account.currency }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ account.bank }}</h6>
        <p class="card-text">{{ account.accountType }}&nbsp;{{ account.accountSubType }}</p>
        <a
          [routerLink]="['/account', account.accountId]"
          class="stretched-link"
        >
          Details
        </a>
      </div>
    </div>
  </div>
</div>
