<div>
  <div *ngIf="account$ | async as account">
    <h3>
      {{ account.bank }}
    </h3>
    <h1>
      {{ account.balanceAmount | currency : account.currency }}
    </h1>
    <div>{{ account.accountType }}&nbsp;{{ account.accountSubType }}</div>
  </div>
  <div class="mt-4">
    <table
      class="table"
      *ngIf="accountTransactions.length > 0"
    >
      <thead>
      <tr>
        <th scope="col">
          Date
          <i class="bi sort-icon"
             [ngClass]="{
             'bi-arrow-down-short':sortDsc,
             'bi-arrow-up-short':!sortDsc
             }"
             (click)="onSort()"
          >
          </i>
        </th>
        <th scope="col">Information</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let accountTransaction of accountTransactions">
        <td>
          {{ accountTransaction.bookingDateTime | date: 'medium' }}
        </td>
        <td>
          {{ accountTransaction.transactionInformation }}
        </td>
        <td [ngClass]="{'red': accountTransaction.amount < 0}">
          {{ accountTransaction.amount | currency : accountTransaction.currency }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
